body {
	/* Add additional height to webpage to make it scroll a little past the content at the bottom of the page */
	padding-bottom: 100px;
	font-family: "Open Sans", sans-serif;
	background-color: #F5F5F5;
	color: #333333;
}

nav {
	background-color: #4CAF50;
}

.nav-menu-link {
	font-size: 20px;
	text-decoration: none;
	color: white;
}

.nav-menu-link:hover {
	color: #42A5F5;
	text-decoration: underline;
}

.navbar-links {
	position: absolute;
	right: 20px;
}

.navbar-links * {
	padding-left: 10px;
	padding-right: 10px;
}

.navbar-links a {
	font-size: 20px;
	text-decoration: none;
	color: white;
}

.navbar-links a:hover {
	color: #42A5F5;
	text-decoration: underline;
}

.title {
	font-family: "Roboto Slab", serif;
	position: relative;
	top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.title-images {
	padding-top: 30px;
	padding-bottom: 30px;
}

.form-container input, button, textarea {
	width: 40%;
	height: 80px;
	background-color: #3d3a3a;
	padding: 5px;
	margin-top: 10px;
	/* Make answer box round */
	border-radius: 3px;
}

.homepage-cards {
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
}

.homepage-cards .card {
	margin-bottom: 20px;
	margin-top: 20px;
}

/* Set every second card to float left to create cascading effect */
/* TODO: Figure out why this doesn't work properly */
/* .homepage-cards .card:nth-child(1n) {
	float: left;
} */

/* Set every second card to float right to create cascading effect */
/* .homepage-cards .card:nth-child(2n) {
	float: right;
} */

.homepage-button {
	/* Center button */
	display: flex;
	align-items: center;
	width: 300px;
	margin: auto;
}