/* By Daniel McCashin */
body {
	/* Add additional height to webpage to make it scroll a little past the content at the bottom of the page */
	padding-bottom: 100px;
	font-family: "Open Sans", sans-serif;
	background-color: #F5F5F5;
	color: #333333;
}

nav {
	background-color: #4CAF50;
}

.nav-menu-link {
	font-size: 20px;
	text-decoration: none;
	color: white;
}

.nav-menu-link:hover {
	color: #42A5F5;
	text-decoration: underline;
}

.navbar-links {
	position: absolute;
	right: 20px;
}

.navbar-links * {
	padding-left: 10px;
	padding-right: 10px;
}

.navbar-links a {
	font-size: 20px;
	text-decoration: none;
	color: white;
}

.navbar-links a:hover {
	color: #42A5F5;
	text-decoration: underline;
}

.title {
	font-family: "Roboto Slab", serif;
	position: relative;
	top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.title-images {
	padding-top: 30px;
	padding-bottom: 30px;
}

.form-container .form-input, button, textarea {
	width: 40%;
	height: 80px;
	background-color: #42A5F5;
	padding: 5px;
	margin-top: 10px;
	/* Make answer box round */
	border-radius: 3px;
}

/* Change colour of the placeholder text inside text fields */
.form-input::placeholder {
	color: white; 
}

.homepage-button {
	/* Center button */
	display: flex;
	align-items: center;
	width: 300px;
	margin: auto;
}